{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>UCSE DAR | Ciberseguridad</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>Recomendaciones de Ciberseguridad</h1>
    <p>"Existen dos tipos de empresas: las que han sido hackeadas y aquellas que serán hackeadas". Robert S. Mueller</p>
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#introduction">Introducción</a></li>
		<li><a class="cd-faq__category truncate" href="#emails">Emails</a></li>
		<li><a class="cd-faq__category truncate" href="#passwords">Passwords</a></li>
		<li><a class="cd-faq__category truncate" href="#navigation">Navegación segura</a></li>
		<li><a class="cd-faq__category truncate" href="#devices">Dispositivos</a></li>
		<li><a class="cd-faq__category truncate" href="#social-media">Redes sociales</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="introduction" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Introducción</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Qué es la ciberseguridad?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>La ciberseguridad es la práctica de proteger sistemas, redes y programas de ataques digitales. Por lo general, estos ciberataques apuntan a acceder, modificar o destruir la información confidencial; Extorsionar a los usuarios o interrumpir la continuidad del negocio.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Por qué la ciberseguridad es importante?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>La tecnología es una pieza fundamental para el desarrollo de los negocios y diversas actividades. La información de las empresas y de sus usuarios hoy en día se encuentra digitalizada y disponible en servidores privados destinados para tales fines. Esto brinda grandes ventajas en términos de accesibilidad a los datos, optimización de espacio y velocidad en la toma de decisiones, entre otras. <br>Sin embargo esta información y los sistemas que la gestionan son el principal blanco de los ciberdelincuentes.
			</p>
			<p>En este punto cobra relevancia la ciberseguridad. Mediante políticas, capacitaciones y buenas prácticas en materia de seguridad informática es posible proteger nuestros activos informáticos y detectar posibles amenazas.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>El factor humano: el eslabón más débil de la ciberseguridad</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Debemos entender que un gran numero de los ciberataques tienen como puerta de entrada la interaccion humana, es por eso que somos el eslabón mas debil en cualquier estrategia de ciberseguridad. Se afirma que “la principal causa de las brechas de seguridad es una vulnerabilidad básica humana: nuestra susceptibilidad para el engaño". Esta afirmacion no busca apuntar a nadie, sino invitarnos a reflexionar sobre nuestro comportamiento y responsabilidad a la hora de interactuar con los sistemas y con información confidencial.</p>
			<p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>No todas son malas noticias</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Quizás hasta este punto sólo leíste que hay una constante amenaza en la información y en los sistemas de las empresas, y eso es verdad.</p>
			<p>No obstante, está en nosotros ser conscientes de esto y actuar en consecuencia. Es por eso que desarrollamos éste sitio para que puedas capacitarte y consultar cada vez que te surja alguna duda o necesites una sugerencia.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="emails" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Emails</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Phishing</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>El phishing es un tipo de ataque por correo electrónico que busca engañar a los destinatarios para que divulguen información confidencial tales como contraseñas, números de cuenta o números de tarjetas de crédito, etc. Los atacantes suelen enviar correos electrónicos que se asemejan mucho a la correspondencia oficial de una empresa de renombre, como un banco o una multinacional, o a la correspondencia de una simple Pyme que vende productos en tu ciudad. Por lo general, el correo electrónico incluye un enlace que lleva al destinatario a un sitio web falso que imita al real y donde se intentara captar los datos privados mediante algún tipo de formulario o página de inicio de sesión.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Ransomware</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Su nombre no es casualidad: el término con el que comienza, “ransom”, es una palabra inglesa que significa “rescate”. El ransomware es un software extorsivo cuya finalidad es impedirte usar tu dispositivo hasta que hayas pagado un rescate. Una de las formas mas comunes de infectar tu dispositivo con un malware de este tipo es mediante la descarga de archivos corrompidos por correo electrónico o el uso de dispositivos USB que contengan dicho software.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Pharming</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Es una técnica muy sofisticada donde ciberdelincuentes instalan código malicioso en los dispositívos. Mediante este código, los atacantes son capaces de interferir en tus interacciones por internet de modo que, por ejemplo al navegar a https://google.com seas redirigido a una pagina maliciosa.</p>
			<p>Una version mucho mas extrema de pharming es cuando los servidores de una organización se ven comprometidos. En este caso, las páginas de la organización bajo ataque van a redirigir a los usuarios a páginas falsas sin saberlo. Ésta amenaza a gran escala es sumamente peligrosa ya que los usuarios afectados pueden ser víctimas a pesar de tener un dispositivo seguro y libre de malware.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Cómo detectar un correo fraudulento?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<ul>
				<li type="circle"><p>Verificar la dirección de correo electrónico de los destinatarios.</p></li>
				<li type="circle"><p>No utilizar tu correo electrónico personal para propositos laborales.</p></li>
				<li type="circle"><p>Mantente alerta cuando un correo electrónico solicita información que no es usual compartir o presenta "urgencia" de parte destinatario para obtener una respuesta.</p></li>
				<li type="circle"><p>No reenvies correos electrónico relacionados con el trabajo a tu correo electrónico personal.</p></li>
				<li type="circle"><p>Para ganar dinero tienes que trabajar 😅. No proveas información confidencial a destinatarios que prometen una ganancia, retribución o un paquete de beneficios exclusivo.</p></li>
			</ul>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="passwords" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Passwords</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Con qué frecuencia debería cambiar mis contraseñas?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Cómo crear contraseñas fuertes?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Gestor de contraseñas</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¡No las compartas!</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="navigation" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Navegación segura</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Qué es la "Navegación segura"?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Este término hace referencia al conocimiento que cada usuario debe conocer sobre la naturaleza de potenciales amenazas que puedes encontrar navegando por internet.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>No visites sitios sin HTTPS</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>HTTP es un protocolo para computadoras, pero no es encriptado lo cual lo hace vulnerable. HTTPS es otro protocolo y a diferencia del anterior es encriptado, esto quiere decir que la información que envíes o recibas en ese sitio web no puede ser leída.</p>
			<p>Es importante de que como usuario verifiques la seguridad del sitio web. Una forma muy sencilla es prestando atencion al icono en la parte izquierda de la URL: </p>
			<ul>
				<li type="circle"><p>El candado cerrado significa que el sitio es seguro.</p></li>
				<li type="circle"><p>Si aparece un signo de exclamación esto representa que la conexión es no es segura. No deberías navegar en éste tipo de sitios.</p></li>
				<li type="circle"><p>Un icono de "información" significa que la conexión que el sitio utiliza no es privada. Deberías evitar la navegación en estos sitios.</p></li>
			</ul>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Evita usar el autocompletado</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Muchos navegadores ofrecen una función que nos permite guardar nuestra información para luego autocompletar campos automáticamente, por ejemplo un email y una contraseña. Ésta funcionalidad resulta muy beneficiosa ya que no necesitamos teclear nuestros datos y nos ahorra algo de tiempo.</p>
			<p>Sin embargo, si tus dispositivos terminan en las manos equivocadas, tus contraseñas y datos bancarios guardados en el browser estarán al alcance de ésta persona para realizar todo tipo de actividad. Por otro lado, que este tipo de funciones pueden verse facilmenta comprometidas por hackers.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Cierra tus sesiones en los sitios que utilizas</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>A menudo creemos que es seguro mantener nuestras sesiones de correo, banco o redes sociales abiertas en el navegador. </p>
			<p>No obstante, al igual que en el caso del autocompletado, esto sugiere un riesgo si nuestro dispositivo es usado por otra persona o si nuestros dispositivos son alcanzados por un ciberataque.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="devices" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Dispositivos</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>1</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>2</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>3</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>4</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="social-media" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Redes sociales</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>1</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>2</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>3</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>4</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>5</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>6</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="{% static 'js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
<script src="{% static 'js/main.js' %}"></script> 
</body>
</html>