{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>document.getElementsByTagName("html")[0].className += " js";</script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>UCSE DAR | Ciberseguridad</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
<div class="text-component text-center">
<h1>Recomendaciones de Ciberseguridad</h1>
<p>"Existen dos tipos de empresas: las que han sido hackeadas y aquellas que serán hackeadas". Robert S. Mueller</p>
</div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#introduction">Introducción</a></li>
		<li><a class="cd-faq__category truncate" href="#emails">Emails</a></li>
		<li><a class="cd-faq__category truncate" href="#passwords">Passwords</a></li>
		<li><a class="cd-faq__category truncate" href="#navigation">Navegación segura</a></li>
		<li><a class="cd-faq__category truncate" href="#devices">Dispositivos</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="introduction" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Introducción</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Qué es la ciberseguridad?</span></a>
				<div class="cd-faq__content">
			<div class="text-component">
				<p>La ciberseguridad es la práctica de proteger sistemas, redes y programas de ataques digitales. Por lo general, estos ciberataques apuntan a acceder, modificar o destruir la información confidencial; Extorsionar a los usuarios o interrumpir la continuidad del negocio.</p>
			</div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Por qué la ciberseguridad es importante?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>La tecnología es una pieza fundamental para el desarrollo de los negocios y diversas actividades. La información de las empresas y de sus usuarios hoy en día se encuentra digitalizada y disponible en servidores privados destinados para tales fines. Esto brinda grandes ventajas en términos de accesibilidad a los datos, optimización de espacio y velocidad en la toma de decisiones, entre otras. <br>Sin embargo ésta información y los sistemas que la gestionan son el principal blanco de los ciberdelincuentes.
			</p>
			<p>En este punto cobra relevancia la ciberseguridad. Mediante políticas, capacitaciones y buenas prácticas en materia de seguridad informática es posible proteger nuestros activos informáticos y detectar posibles amenazas.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>El factor humano: el eslabón más débil de la ciberseguridad</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Debemos entender que un gran numero de los ciberataques tienen como puerta de entrada la interacción humana, por eso somos condierados el eslabón más débil en cualquier estrategia de ciberseguridad.</p>
			<p>Se afirma que “la principal causa de las brechas de seguridad es una vulnerabilidad básica humana: nuestra susceptibilidad para el engaño". Ésta afirmación no busca apuntar a nadie, sino invitarnos a reflexionar sobre nuestro comportamiento y responsabilidad a la hora de interactuar con los sistemas y con información confidencial.</p>
			<p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>No todas son malas noticias</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Quizás hasta este punto sólo leíste que hay una constante amenaza sobre tus activos informáticos y los de la empresa donde trabajás.</p>
			<p>No obstante, está en nosotros ser conscientes de esto y actuar en consecuencia. Es por eso que desarrollamos éste sitio para que puedas capacitarte y consultar cada vez que te surja alguna duda o necesites una sugerencia.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="emails" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Emails</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Phishing</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>El phishing es un tipo de ataque por correo electrónico que busca engañar a los destinatarios para que divulguen información confidencial tales como contraseñas, números de cuenta o números de tarjetas de crédito, etc.</p>
			<p>Los atacantes suelen enviar correos electrónicos que se asemejan mucho a la correspondencia oficial de una empresa de renombre, como un banco o una multinacional, o a la correspondencia de una simple Pyme que vende productos en tu ciudad. Éstos emails suelen incluir un enlace que lleva al destinatario a un sitio web falso que imita al real y donde se intentará captar los datos privados mediante algún tipo de formulario o página de inicio de sesión.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Ransomware</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>El término con el que comienza, “ransom”, es una palabra inglesa que significa “rescate”. El ransomware es un software extorsivo cuya finalidad es impedirte usar tu dispositivo hasta que hayas pagado un rescate. </p>
			<p>Una de las formas más comunes de infectar tu dispositivo con un malware de este tipo es mediante la descarga de archivos corrompidos por correo electrónico y/o redes sociales, o el uso de dispositivos USB que contengan dicho software.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Pharming</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Es una técnica muy sofisticada donde ciberdelincuentes instalan código malicioso en los dispositivos. Mediante este código, los atacantes son capaces de interferir en tus interacciones por internet de modo que, por ejemplo al navegar a https://google.com seas redirigido a una pagina maliciosa.</p>
			<p>Una version mucho mas extrema de pharming es cuando los servidores de una organización se ven comprometidos. En este caso, las páginas de la organización bajo ataque van a redirigir a los usuarios a páginas falsas sin saberlo. Ésta amenaza a gran escala es sumamente peligrosa ya que los usuarios afectados pueden ser víctimas a pesar de tener un dispositivo seguro y libre de malware.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Cómo detectar un correo fraudulento?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			<ul>
				<li type="circle"><p><strong>El mensaje fue enviado desde un dominio público.</strong></p></li>
				<p>Personas u organizaciones con fines delictivos suelen enviar este tipo de correos desde emails que terminan en "@gmail.com" o "hotmail.com", etc. Excepto por algunas pequeñas organizaciones, la mayoría de las compañías adquieren su propio dominio para brindar seguridad a sus clientes en las comunicaciones y evitar el uso de marca para fraudes. </p>
				<p>Tomemos como ejemplo este correo electrónico. El mismo fue enviado desde la dirección <strong>ucsedarinfo@gmail.com</strong>. Sin embargo, UCSE cuenta con un dominio propio y sus emails siempre terminan en "@ucse.edu.ar".</p>
				<li type="circle"><p><strong>El dominio contiene errores o abreviaciones.</strong></p></li>
				<p>Otra pista que podría indicar que te encuentras frente a un email fraudulento es cuando el dominio del email que recibiste contiene errores. Cualquier persona puede comprar un dominio para sus emails, incluso aquellos dominios que se asemejan a los utilizados por entidades reconocidas. </p>
				<p>En el caso a continuación vemos que el dominio utilizado es "@nteflixsuporte.com". Ante una mirada rápida estos errores podrían pasar desapercibidos, es por esto que debemos tomar el hábito de verificar el destinatario de nuestros correos.</p>
				<img alt="netflix-scam" src="{% static 'img/netflix-scam.png' %}" width="30%" height="30%" />
				<br>
				<li type="circle"><p><strong>El email contiene errores ortográficos.</strong></p></li>
				<p>Debemos tener en cuenta que las empresas contratan gente que se dedica a revisar todo tipo de información que se envía mendiante sus canales de comunicación, lo cual hace muy poco probable que sus emails contengan errores.</p>
				<p>Es por esto que cuando un email contiene una ortografía o gramática deficiente es probable que se trate de un email fraudulento. Miremos el siguiente ejemplo:</p>
				<img alt="anses-scam" src="{% static 'img/anses-scam.png' %}" width="50%" height="50%"/>
				<p></p>
				<li type="circle"><p><strong>Contiene archivos adjuntos o links sospechosos.</strong></p></li>
				<p>Existen muchas formas de crear un email fraudulento. Algunos de ellos contienen indicaciones de descargar el archivo adjunto o de descargarlo mediante un link externo.</p>
				<p>Por lo general estos archivos contienen nombres que hacen referencias a una factura, un extracto bancario o quizás una fotografía, entre tantos otros ejemplos. Si la persona descarga o abre este archivo, es probable que se introduzca algún tipo de malware en el dispositivo. Es por esto que sólo deberías descargar o abrir archivos enviados por personas de confianza.</p>
				<p></p>
				<li type="circle"><p><strong>El mensaje contiene un sentido de urgencia</strong></p></li>
				<p>Con el fin de atraerte los hackers crean correos que intentan que actúes inmediatamente, y además suelen contener algún link o formulario con los cuales intentarán que brindes información y la capturarán.</p>
				<p>Algunos ejemplos es cuando algún email solicita que reinicies la contraseña de forma inmedianta porque se vencerá en las próximas horas o cuando te incitan a proveer un nuevo medio de pago, entre otros.</p>
				<p><img alt="urgency-email" src="https://www.fiscales.gob.ar/wp-content/uploads/2022/08/Ufeci-Galicia-fraude.png" width="80%" height="80%"/></p>
			</ul>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="passwords" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Passwords</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Con qué frecuencia debería cambiar mis contraseñas?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Según expertos en ciberseguridad las contraseñas deberían ser cambiadas cada 3 meses o al menos cada 6 meses. Sin embargo existen situaciones donde es necesario cambiar una contraseña <strong>inmediatamente.</strong></p>
			<p>¿Cuándo debería cambiar mi contraseña inmediatamente? Miremos algunos ejemplos..</p>
			<ul>
				<li type="circle"><strong>Sospechas que tu cuenta fue hackeada</strong></li>
				<p>Resulta obvio, ¿no?. Sin embargo a veces no sabemos detectar las señales de que nuestra cuenta está en peligro. ¿Tus contactos recibieron algún correo o mensaje extraño y no fuiste el autor? Esa es una señal de que debes cambiar tu contraseña inmediatamente. El tiempo es un factor clave en este punto, ya que si actúas rápido los hackers no podrán tomar control total de tu cuenta.</p>
				<li type="circle"><strong>Luego de una violación de datos</strong></li>
				<p>Si la empresa en la que trabajas o la compañía dónde tienes una cuenta sufrió un ataque informático y hubo información que fué robada debes cambiar tu contraseña lo antes posible. Si utilizabas esa misma contraseña para otros sitios web, definitivamente también deberás cambiar la contraseña de esas cuentas también. Lo primero que intentarán los hackers después de obtener tu contraseña es intentar utilizarla en otros sitios.</p>
				<li type="circle"><strong>Utilizaste una red insegura</strong></li>
				<p>Quizás decidiste utilizar la red WiFi de un bar o un lugar público e iniciaste sesión en alguna de tus cuentas. En este caso, una vez que estés conectado a una red segura nuevamente, deberás cambiar tu contraseña.</p>
				<p>Por lo general, las redes públicas son el foco de ataques de los hackers. Esto sucede ya que las chances de que éstas redes tengan adoptadas medidas de seguridad son pocas o nulas.</p>
				<li type="circle"><strong>Descubres virus en tu dispositivo</strong></li>
				<p>Tu información personal puede estar en riesgo si tu dispositivo fué infectado con un virus. Si tu antivirus detecta alguno deberás cambiar tus contraseñas alojadas en el dispositivo. </p>
				<li type="circle"><strong>No usas a menudo algunas cuentas</strong></li>
				<p>Si tienes una cuenta que usas sólo unas pocas veces al año, deberías cambiar tu contraseña o en caso de no utilizarse pensar en cerrar dicha cuenta.</p>
			</ul>
		</div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Cómo crear contraseñas fuertes?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Una contraseña fuerte es aquella que es fácil de recordar para ti pero difícil de adivinar para otros. A continuación algunas sugerencias a la hora de crear una:</p>
			<ul>
				<li type="cricle"><strong>No uses información personal</strong></li>
				<p>Nunca deberías incluir información como una fecha de nacimiento, DNI, los nombres de tus padres o el cumpleaños del perro. Por lo general este tipo de información es pública y sólo le haría el trabajo más fácil a los hackers.</p>
				<li type="circle"><strong>Usa una contraseña larga</strong></li>
				<p>Tus contraseñas deben contener como mínimo 8 caracteres. Cada caracter adicional que incluyas agregará mayor seguridad. </p>
				<li type="circle"><strong>No uses la misma contraseña en todas las cuentas</strong></li>
				<p>Si alguien descubre la contraseña de alguna de tus cuentas es probable que intente utilizarla en otras. Por favor, ¡no repitas tus contraseñas!</p>
				<li type="circle"><strong>Incluye todo lo que esté a disposición</strong></li>
				<p>Intenta incluir números, símbolos y letras en mayúscula y minúscula. </p>
				<li type="circle"><strong>Evita palabras del diccionario</strong></li>
				<p>Evita utilizar palabras que puedan encontrarse en el diccionario. Por ejemplo, una contraseña como "computadora123" es muy débil y hasta predecible.</p>
				<li type="circle"><strong>Crea contraseñas aleatorias</strong></li>
				<p>Puede ser difícil de recordarlas pero una contraseña segura es aquella que no tiene ningun sentido e incluye lo mencionado anteriormente. Un sitio web para generar éste tipo de contraseñas es <a href="https://1password.com/password-generator/">1Password</a>. Sólo es necesario que ingreses los parámetros y el sitio te sugerirá diferentes contraseñas aleatorias para que utilices. </p>
			</ul>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Utiliza un gestor de contraseñas</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Se trata de una herramienta que alamcena tus contraseñas y otro tipo de información sensible. ¿Cuál es el beneficio? Para acceder a tu información deberás ingresar una clave maestra siempre que necesites consultar, modificar o agregar un dato. De ésta manera, sólo necesitarás recordar una contraseña y luego podrás consultar las demás en la herramienta.</p>
			<p>Sus beneficios no son solo por conveniencia, sino también por seguridad. Muchos de estos cuentan con funcionalidades como:</p>
			<ul>
				<li type="circle"><strong>Compartir contraseñas de forma segura</strong></li>
				<p>No es recomendable compartir tus contraseñas con ninguna persona, pero en el caso de que necesites hacerlo los gestores de contraseñas te lo permiten de una forma segura para aquellas cuentas que estén asociadas a la herramienta.</p>
				<li type="circle"><strong>Autocompletar tus credenciales</strong></li>
				<p>Este tipo de heramientas ofrecen autocompletar tu usuario y contraseña en las páginas de incio de sesión.</p>
				<li type="circle"><strong>Cambiar tu contraseña en cualquier momento</strong></li>
				<p>La mayoría ofrecen como funcionalidad un generador de contraseñas, el cuál te permitirá crear credenciales fuertes y seguras.</p>
				<li type="circle"><strong>Alacenar información adicional</strong></li>
				<p>A veces no sólo necesitamos una contraseña, sino también una pregunta de seguridad, un PIN de acceso, un archivo privado u otro tipo de información confidencial. Los gestores de contraseñas permiten almacenar todo tipo de información de una manera sencilla y segura.</p>
			</ul>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Activa la autenticación de doble factor</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>La autenticación de doble factor es una capa adicional de seguridad diseñada con el objetivo de garantizar que seas la única persona que puede acceder a tu cuenta. Por lo general, los factores que se suelen utilizar son los de conocimiento (usuario y contraseña), posesión (teléfono o token para recibir un código de seguridad) y factor de inherencia (algo que eres, por ejemplo tu huella digital, tu voz o el reconocimiento facial).</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="navigation" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Navegación segura</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>¿Qué es la "Navegación segura"?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Este término hace referencia a la necesidad que tiene cualquier usuario de acceder a internet con las garantías de que se respeten sus derechos y se incluye la formación de cada uno de ellos debe tener sobre los consejos de navegación.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>No visites sitios sin HTTPS</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>HTTP es un protocolo para computadoras, pero no es encriptado lo cual lo hace vulnerable. HTTPS es otro protocolo y a diferencia del anterior es encriptado, esto quiere decir que la información que envíes o recibas en ese sitio web no puede ser leída.</p>
			<p>Es importante de que como usuario verifiques la seguridad del sitio web. Una forma muy sencilla es prestando atencion al icono en la parte izquierda de la URL: </p>
			<ul>
				<li type="circle"><p>El candado cerrado significa que el sitio es seguro.</p></li>
				<li type="circle"><p>Si aparece un signo de exclamación esto representa que la conexión es no es segura. No deberías navegar en éste tipo de sitios.</p></li>
				<li type="circle"><p>Un icono de "información" significa que la conexión que el sitio utiliza no es privada. Deberías evitar la navegación en estos sitios.</p></li>
			</ul>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Evita usar el autocompletado</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Muchos navegadores ofrecen una función que nos permite guardar nuestra información para luego autocompletar campos automáticamente, por ejemplo un email y una contraseña. Ésta funcionalidad resulta muy beneficiosa ya que no necesitamos teclear nuestros datos y nos ahorra algo de tiempo.</p>
			<p>Sin embargo, si tus dispositivos terminan en las manos equivocadas, tus contraseñas y datos bancarios guardados en el browser estarán al alcance de ésta persona para realizar todo tipo de actividad. Por otro lado, que este tipo de funciones pueden verse facilmenta comprometidas por hackers.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Cierra tus sesiones en los sitios que utilizas</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>A menudo creemos que es seguro mantener nuestras sesiones de correo, banco o redes sociales abiertas en el navegador. </p>
			<p>No obstante, al igual que en el caso del autocompletado, esto sugiere un riesgo si nuestro dispositivo es usado por otra persona o si nuestros dispositivos son alcanzados por un ciberataque.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Nunca inicies sesión en equipos compartidos</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Los dispositivos de uso común entre varias personas son más propensos a tener malware de keylogger, es decir, un programa que memoriza todas las pulsaciones de teclado incluidas tus credenciales.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Descarga de programas</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Si necesitas alguna aplicación o software para una tarea y no cuentas con él, no lo descargues de cualquier sitio web que encuentres en internet. La mayoría de los sitios que aparecen posicionados primeros entre las búsquedas suelen contener código malicioso que podría infectar tu dispositivo.</p>
			<p>Lo recomendable es solicitar este programa a una persona a alguien especializado en informática o buscar el sitio oficial del mismo y descargarlo directo desde allí. En caso de que el software es de pago, tené presente que todas las versiones FREE que se obtienen en la web pueden contener algún tipo de malware.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Compras por internet</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Buscando mejores precios en intenet podemos llegar a sitios web poco fiables. Antes de realizar cualquier movimiento verificá que la página tiene una conexión https y que su URL coincide con el sitio oficial de la empresa.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="devices" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Dispositivos</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Instala un antivirus</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Los virus informátivos y los malware tienen como principal objetivo encontrar vulnerabilidades en tu dispositivo e infectarlo. Para lidiar con estos tipos de amenazas es importante tener instalado un antivirus. Este tipo de software, dependiendo si la versión es paga o no, te ofrecerá protección a diferentes niveles que, ante un descuido, podrían librarte de un daño a tu dispositivo.</p>
			<p>Si ya cuentas con un antivirus es importante que SIEMPRE lo mantengas actualizado. Todos los días los hackers investigan nuevas formas de vulnerar programas y dispositivos, y los ingenieros encargados de lidiar con ellas crean actualizaciones en los antivirus para proteger a sus usuarios de éstas. Si ves una notificación de actualización, ¡no la ignores!</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Mantén tu sistema operativo, programas y navegador actualizados</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No existe un programa o dispositivo que se encuentre libre de defectos o vulnerabilidades, es por esto que los equipos de ingeniería luego de encontrarlos y resolverlos lanzan actualizaciones a sus usuarios. Es muy importante que siempre mantengas actualizado tu dispositivo, tu sistema operativo y tus programas o aplicaciones para evitar que éstas vulnerabilidades o defectis sean una puerta de entrada para un dolor de cabeza.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Crea copias de seguridad</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Hacer copias de seguridad es importante en caso de que los hackers logren tomar control o infectar tus dispositivos. También pueden ser útiles en caso de extravío o robo.</p>
			<p>Por medio de una copia de seguridad podrás recuperar no sólo tus archivos, sino también muchas de las configuraciones que estaban asociadas a tu dispositivo. Además, no perderás tiempo generando nuevamente los archivos que poseías antes de sufrir un incidente.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="{% static 'js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
<script src="{% static 'js/main.js' %}"></script> 
</body>
</html>