
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <center>
            <strong><h1>Has sido parte de un simulacro de phishing llevado a cabo por un alumno de UCSE DAR.</h1></strong>
            <h2><strong>No te preocupes, no robaremos ninguna de tus credenciales.</strong></h2>
            <p>Este simulacro forma parte de una tesis de grado de la carrera Ingenieria en Informatica.</p>
            <p>Te solicitamos que puedas completar el curso a continuacion para detectar posibles fraudes mediante e-mails y darte algunas herramientas.</p>
            <p>Ademas como parte del trabajo te pedimos que <strong>no adviertas a tus compañeros</strong> sobre este email
            para que las estadisticas recabadas no se vean afectadas.</p><br>
            <button>Ver curso</button><br><br><br><br><br><br><br>
            <p>Si tenes dudas por favor contactate con Sofia Di Nonno (alumna a cargo del proyecto) por medio del siguiente email: <strong>sofidinonno@gmail.com</strong></p>
        </center>
    </body>
</html>


